#LoginForm{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-color: hsla(219, 76%, 8%, 0.479);
    border-radius: 1rem;
    border-width: 0.1rem;
    border-style: solid;
}

#SubmitButton{
    margin-top: 2rem;
    background-color: rgb(24, 80, 190);
    color: aliceblue !important;
    border-width: 0;
    width: 15rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 0.5rem;
}

#SubmitButton:hover{
    background-color: rgb(85, 121, 192);
    color: #282c34 !important;
}
  
  #SubmitButton:active{
    transform: translateY(0.25rem)
}

.LoginFormInput{
    width: 15rem;
    height: 2rem;
}
